@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(material-symbols-outlined.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
    position: relative;
}

/*Title*/
.study-title {
    margin-top: 200px;
    text-align: center;
}

.study-title .dynamic-txt {
    color: #000000;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.study-title .dynamic-txt span {
    position: relative;
}

.study-title .dynamic-txt span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffff;
    border-left: 2px solid #000000;
    animation: typing 1.5s steps(10) forwards, blink 0.8s infinite 3s;
}

@keyframes typing {
    100% {
        left: calc(100% - 2px);
    }
}

@keyframes blink {
    0%, 100% {
        border-left-color: #000000;
    }
    50% {
        border-left-color: transparent;
    }
}

/*Search bar*/
.search-container {
    margin-top: 250px;
    margin-bottom: auto;
}

.search {
    --padding: 14px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 30px;
    background: #a9b6c9;
}

.search:focus-within {
    box-shadow: 0 0 4px rgba(8, 8, 8);
}

.search-input {
    font-size: 18px;
    font-family: 'Lexend', sans-serif;
    color: #ffffff;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 600px;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);
}

#ask-progress + #ask-result {
    color: grey;
}

#ask-result {
    &[data-error] {
        color: red;
    }
}
